{% extends "base_generic.html" %} {% block content %}
<div class="container">
  <div class="row">
    {% for product in page_obj %}
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="{{ product.image.url }}"
              class="img-fluid"
              alt="Product Image"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <p class="card-text">{{ product.description }}</p>
              <p class="card-text">Price: ${{ product.price }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="pagination">
  <span
    class="step-links"
    style="margin: auto; display: flex; gap: 1em; font-size: 1.5em"
  >
    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    <span class="current-page" style="border: 1px solid black; padding: 0 10px"
      >{{ page_obj.number }}</span
    >

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}" style="margin: auto"
      >Next</a
    >
    {% endif %}
  </span>
</div>
{% endblock %}
